@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0px;
    font-family: 'Amiri', serif;
}

main {
    background-image: url("../img/freddyeselmejor.jpg");
    /* filter: grayscale(100%); */
    background-position: 50% 50%;
    height: 100vh;
}

.grayscale {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(124, 124, 124, .3);
}

.title {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.form-container {
    position: relative;
    width: 60%;
    height: auto;
    left: 20%;
    background: #f5f8fa;
    padding: 10px !important;
    top: 10%;
    border-radius: 25px;
}

.container {
    width: 100%;
    padding: 0 0 5em;
}

.container>article {
    display: inline-block;
}

.info {
    padding: 10px
}

.info>* {
    display: block;
    font-size: 20px;
}

.info ul>li {
    margin-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: orange;
    transition: 300ms;
}

a:hover:after {
    width: 100%;
}

.form {
    width: 60%;
    float: right;
}

form>* {
    display: block;
}

input::placeholder {
    color: black;
}

textarea::placeholder {
    color: black;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    line-height: 1.3;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-width 0.2s linear;
    resize: none;
}

input:hover,
textarea:hover {
    border-right: 5px solid orange;
}

.btnSubmit {
    position: relative;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 1em 5em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    left: 30%;
}

.btnSubmit:hover {
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;
}

.font-color {
    color: black;
}