<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../Assets/css/style.css">
    <link rel="stylesheet" href="../../../Assets/css/tarea2.css">
    <link rel="stylesheet" href="../../../Assets/css/deportes.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header class="header">
        <div class="vDraw"></div>
        <div class="logo">
            Freddy Soto Fermin
        </div>
        <nav role="navigation" class="navMenu">
            <ul class="menu-list">
                <li class="menu-item"><a href="../../../index.html"><i class=""></i> Inicio</a></li>
                <li class="menu-item dropdown " aria-haspopup="true"><a href=""> Tarea 1 &nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></a>

                    <ul class="submenu-list " aria-label="submenu">
                        <li class="submenu-item "><a href="../../Tarea1/Ejercicio1/HTML Basico.html"><i class=""></i> Ejercicio 1</a></li>
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio2/HTML con Textos Formateados.html"><i class=""></i> Ejercicio 2</a></li>
                    </ul>

                </li>
                <li class="menu-item dropdown " aria-haspopup="true"><a href=""> Tarea 2 &nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></a>

                    <ul class="submenu-list " aria-label="submenu">
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio3/Index.html"><i class=""></i> Inicio</a></li>
                        <li class="submenu-item "><a href="../../Tarea1/Ejercicio3/Cultura.html"><i class=""></i> Cultura</a></li>
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio3/Deportes.html"><i class=""></i> Deporte</a></li>
                    </ul>

                </li>
                <li class="menu-item"><a href="../../Tarea2/index.html"><i class=""></i> Tarea 3</a></li>
            </ul>
        </nav>
        <div class="vDraw"></div>
    </header>
    <main class="container">
        <h1 class="titulo"> Hall of Fame Dominicano</h1>
        <section class="content">
            <div class="galeria">
                <h1>Juan Marichal </h1>
                <div class="imagen">
                    <img src="../../../Assets/img/Tarea2/juanmarichal.jpg" />
                </div>
                <div class="texto">
                    <p>En julio de 1983 el lanzador dominicano Juan Marichal se convertía en el primer dominicano en ingresar al Salón de la Fama de Cooperstown. </p>
                    <p>Es recordado por su alta patada, ganó 243 juegos y 142 en 16 temporadas en las Grandes Ligas.</p>
                    <p>Mostró un dominio absoluto por casi dos décadas con los Leones del Escogido en la pelota invernal con 1.87 de efectividad estableciendo una marca.
                    </p>
                </div>

            </div>

            <div class="galeria">
                <h1>Pedro Martínez</h1>
                <div class="imagen">
                    <img src="../../../Assets/img/Tarea2/pedromartinez.jpg" />
                </div>
                <div class="texto">
                    <p>República Dominicana, logró meter un segundo representante al Salón de la Fama de Cooperstown, el mayor reconocimiento que puede recibir un pelotero en el béisbol profesional.
                    </p>
                    <p> El lanzador Pedro Martinez se unió a su colega Juan Marichal, electo en 1983, como los únicos quisqueyanos en Cooperstown, tras recibir el voto favorable de la Asociación de Escritores de Béisbol de América.
                    </p>
                </div>
            </div>
            <div class="galeria">
                <h1>Vladimir Guerrero</h1>
                <div class="imagen">
                    <img src="../../../Assets/img/Tarea2/vladimirguerrero.png" />
                </div>
                <div class="texto">
                    <p>Vladimir Guerrero no solamente es el tercer dominicano, y el primer bateador de la isla caribeña, que alcanza el Salón del Béisbol.</p>
                    <p> Guerrero, un jardinero que jugó por 16 temporadas, fue electo por la BBWAA, en la promoción del 2018 del Salón de la Fama. </p>
                    <p>Vladimir, de 43 años, es uno de los nueve miembros de la familia Guerrero que han firmado contratos con la pelota profesional.
                    </p>
                </div>
            </div>
            <!-- 
            <div class="vDraw"></div>
            <div class="vDraw"></div>
            <div class="vDraw"></div>
            <div class="vDraw"></div> -->


        </section>
        <footer class="footer">
            <div class="vDraw"></div>
            <div class="footerBar">
                &copy;
                <article class="vDraw"></article>
            </div>
        </footer>
    </main>
</body>