.headcrumb {
    width: 50%;
    /* margin-top: 25px; */
    text-align: center;
    background: #F18F01;
    font-size: 26px;
    /* margin: 10em auto; */
    /* height: 100%; */
    border-radius: 50px;
}

.headcrumb>* {
    margin: 2em auto
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}

.content * {
    color: #0E151B;
}