<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../Assets/css/style.css">
    <link rel="stylesheet" href="../../../Assets/css/tarea1.css">
</head>

<body>

    <header class="header">
        <div class="vDraw"></div>
        <div class="logo">
            Freddy Soto Fermin
        </div>
        <nav role="navigation" class="navMenu">
            <ul class="menu-list">
                <li class="menu-item"><a href="../../../index.html"><i class=""></i> Inicio</a></li>
                <li class="menu-item dropdown " aria-haspopup="true"><a href=""> Tarea 1 &nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></a>

                    <ul class="submenu-list " aria-label="submenu">
                        <li class="submenu-item "><a href="../../Tarea1/Ejercicio1/HTML Basico.html"><i class=""></i> Ejercicio 1</a></li>
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio2/HTML con Textos Formateados.html"><i class=""></i> Ejercicio 2</a></li>
                    </ul>

                </li>
                <li class="menu-item dropdown " aria-haspopup="true"><a href=""> Tarea 2 &nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></a>

                    <ul class="submenu-list " aria-label="submenu">
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio3/Index.html"><i class=""></i> Inicio</a></li>
                        <li class="submenu-item "><a href="../../Tarea1/Ejercicio3/Cultura.html"><i class=""></i> Cultura</a></li>
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio3/Deportes.html"><i class=""></i> Deporte</a></li>
                    </ul>

                </li>
                <li class="menu-item"><a href="../../Tarea2/index.html"><i class=""></i> Tarea 3</a></li>
            </ul>
        </nav>
        <div class="vDraw"></div>
    </header>
    <main class="container">

        <section class="content">
            <article class="left">
                <h1>Introduccion HTML</h1>
                <p><b>HTML, siglas en inglés de HyperText Markup Language (lenguaje de marcas de hipertexto)</b>, hace referencia al lenguaje de marcado para la elaboración de páginas web.
                    <blockquote cite="http://www.worldwildlife.org/who/index.html">
                        HTML se considera el lenguaje web más importante siendo su invención crucial en la aparición, desarrollo y expansión de la World Wide Web (WWW).
                    </blockquote>
                    <br> <br> Es el estándar que se ha impuesto en la visualización de páginas web y es el que todos los navegadores actuales han adoptado.
            </article>
            <article class="vertical-line"></article>
            <article class="right">
                <br> <br> Es un estándar que sirve de <i>referencia del software que conecta con la elaboración de páginas web en sus diferentes versiones</i>, define una estructura básica y un código (denominado código HTML) para la definición de contenido
                de una página web, como texto, imágenes, videos, juegos, entre otros.
                <br> <br> Es un <b>estándar a cargo del World Wide Web Consortium (W3C) o Consorcio WWW</b>, organización dedicada a la estandarización de casi todas las tecnologías ligadas a la web, sobre todo en lo referente a su escritura e interpretación.
            </article>
        </section>
        <footer class="footer">
            <div class="vDraw"></div>
            <div class="footerBar">
                &copy;
                <article class="vDraw"></article>
            </div>
        </footer>
    </main>
</body>