<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../Assets/css/style.css">
    <link rel="stylesheet" href="../../../Assets/css/tarea1.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header class="header">
        <div class="vDraw"></div>
        <div class="logo">
            Freddy Soto Fermin
        </div>
        <nav role="navigation" class="navMenu">
            <ul class="menu-list">
                <li class="menu-item"><a href="../../../index.html"><i class=""></i> Inicio</a></li>
                <li class="menu-item dropdown " aria-haspopup="true"><a href="javascript:void(0)"> Tarea 1 &nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></a>

                    <ul class="submenu-list " aria-label="submenu">
                        <li class="submenu-item "><a href="../../Tarea1/Ejercicio1/HTML Basico.html"><i class=""></i> Ejercicio 1</a></li>
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio2/HTML con Textos Formateados.html"><i class=""></i> Ejercicio 2</a></li>
                    </ul>

                </li>
                <li class="menu-item dropdown " aria-haspopup="true"><a href="javascript:void(0)"> Tarea 2 &nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></a>

                    <ul class="submenu-list " aria-label="submenu">
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio3/Index.html"><i class=""></i> Inicio</a></li>
                        <li class="submenu-item "><a href="../../Tarea1/Ejercicio3/Cultura.html"><i class=""></i> Cultura</a></li>
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio3/Deportes.html"><i class=""></i> Deporte</a></li>
                    </ul>

                </li>
                <li class="menu-item"><a href="../../Tarea2/index.html"><i class=""></i> Tarea 3</a></li>
            </ul>
        </nav>
        <div class="vDraw"></div>
    </header>
    <main class="container">

        <section class="content">
            <h1>Esta es una pagina web con la estructura basica</h1>
            <!-- 
            <div class="vDraw"></div>
            <div class="vDraw"></div>
            <div class="vDraw"></div>
            <div class="vDraw"></div> -->


        </section>
        <footer class="footer">
            <div class="vDraw"></div>
            <div class="footerBar">
                &copy;
                <article class="vDraw"></article>
            </div>
        </footer>
    </main>
</body>