@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet"');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0px;
    font-family: Suez One;
}

main {
    background-image: url("../img/bg-principal.jpg");
    /* filter: grayscale(100%); */
    background-position: 50% 50%;
    height: 100vh;
}

.grayscale {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(124, 124, 124, .3);
}

.title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    position: relative;
    width: 80%;
    height: auto;
    left: 10%;
    background: #3b5998;
    padding: 10px !important;
    top: 10%;
}

.container {
    width: 100%;
}

.container>article {
    display: inline-block;
}

.info {
    width: 34%;
    padding: 10px;
}

.form {
    width: 65%;
}

form>* {
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    line-height: 1.3;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
}

.font-color {
    color: #f7f7f7;
}