<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../Assets/css/style.css">
    <link rel="stylesheet" href="../../../Assets/css/tarea2.css">
    <link rel="stylesheet" href="../../../Assets/css/cultura.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header class="header">
        <div class="vDraw"></div>
        <div class="logo">
            Freddy Soto Fermin
        </div>
        <nav role="navigation" class="navMenu">
            <ul class="menu-list">
                <li class="menu-item"><a href="../../../index.html"><i class=""></i> Inicio</a></li>
                <li class="menu-item dropdown " aria-haspopup="true"><a href=""> Tarea 1 &nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></a>

                    <ul class="submenu-list " aria-label="submenu">
                        <li class="submenu-item "><a href="../../Tarea1/Ejercicio1/HTML Basico.html"><i class=""></i> Ejercicio 1</a></li>
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio2/HTML con Textos Formateados.html"><i class=""></i> Ejercicio 2</a></li>
                    </ul>

                </li>
                <li class="menu-item dropdown " aria-haspopup="true"><a href=""> Tarea 2 &nbsp;&nbsp;<i class="fas fa-caret-down"></i><i class="fas fa-caret-up"></i></a>

                    <ul class="submenu-list " aria-label="submenu">
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio3/Index.html"><i class=""></i> Inicio</a></li>
                        <li class="submenu-item "><a href="../../Tarea1/Ejercicio3/Cultura.html"><i class=""></i> Cultura</a></li>
                        <li class="submenu-item"><a href="../../Tarea1/Ejercicio3/Deportes.html"><i class=""></i> Deporte</a></li>
                    </ul>

                </li>
                <li class="menu-item"><a href="../../Tarea2/index.html"><i class=""></i> Tarea 3</a></li>
            </ul>
        </nav>
        <div class="vDraw"></div>
    </header>
    <main class="container">
        <section class="content">
            <div class="galeria">
                <h1>Música</h1>
                <div class="imagen">
                    <img src="../../../Assets/img/Tarea2/merengue.jpg" />
                </div>
                <p id="more"><i>Ponga el mouse aqui para ver mas informacion</i></p>
                <p id="less"><i>Mueva el mouse fuera para ocultar la informacion</i></p>
                <div class="texto">
                    <p><b>El merengue</b> es un género musical bailable originado en la República Dominicana a finales del siglo XIX. Es muy popular en todo el continente americano, donde es considerado, junto con la salsa, como uno de los grandes géneros
                        musicales bailables que distinguen el género latinoamericano</b>
                    </p>
                </div>

            </div>
            <div class="galeria">
                <h1>Gastronomía</h1>
                <div class="imagen">
                    <img src="../../../Assets/img/Tarea2/bandera.jpg" />
                </div>
                <p id="more"><i>Ponga el mouse aqui para ver mas informacion</i></p>
                <p id="less"><i>Mueva el mouse fuera para ocultar la informacion</i></p>
                <div class="texto">
                    <p>La <b>comida dominicana</b> tiene una clara influencia criolla, es decir, con influencia europea pero desarrollada en América y con ciertos rasgos africanos. Tiene una gran importancia el arroz, la carne, los frijoles o los vegetales,
                        lo que se percibe en sus platos más típicos como <i>la bandera</i> </p>
                </div>

            </div>
            <div class="galeria">
                <h1>Tradiciones</h1>
                <div class="imagen">
                    <img src="../../../Assets/img/Tarea2/carnaval.jpg" />
                </div>
                <p id="more"><i>Ponga el mouse aqui para ver mas informacion</i></p>
                <p id="less"><i>Mueva el mouse fuera para ocultar la informacion</i></p>
                <div class="texto">
                    <p>Aunque si existe una por excelencia dentro de las tradiciones dominicanas esa es el <b><i>Carnaval</i></b>, que además suele coincidir con las fiestas patrias. Las distintas ciudades organizan sus desfiles en los cuales se nota la
                        influencia de diferentes culturas. </p>
                </div>

            </div>
            <div class="galeria">
                <h1>Entretenimiento</h1>
                <div class="imagen">
                    <img src="../../../Assets/img/Tarea2/baseball.jpg" />
                </div>
                <p id="more"><i>Ponga el mouse aqui para ver mas informacion</i></p>
                <p id="less"><i>Mueva el mouse fuera para ocultar la informacion</i></p>
                <div class="texto">
                    <p>Se trata del deporte oficial del país y el mayor Entretenimiento, desde que lo introdujeron los inmigrantes cubanos, y ahora mismo puede presumir de que la República Dominicana es uno de los mayores exportadores de jugadores de béisbol
                        del mundo.
                    </p>
                </div>

            </div>

        </section>
        <footer class="footer">
            <div class="vDraw"></div>
            <div class="footerBar">
                &copy;
                <article class="vDraw"></article>
            </div>
        </footer>
    </main>
</body>